// Mixins
// --------------------------

@mixin ptsans {
  font-family: 'PT Sans', sans-serif;
}

@mixin roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

@mixin link_btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin middle_position {
  width: 1200px;
  margin: 0 auto;
}

@mixin a-progress {
  content: "";
  position: absolute;
  height: 33px;
  margin-top: -32px;
  background-color:  #f8f8f8;
}

@mixin line {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $light-gray;
}

@mixin after-before {
  content: "";
  position: absolute;
}

@mixin transition {
  transition: all ease-out 0.5s;
}