// Mixins
// --------------------------

@mixin ptsans {
  font-family: 'PT Sans', sans-serif;
}

@mixin roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

@mixin link_btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin middle_position {
  width: 1200px;
  margin: 0 auto;
}
