// Variables
// --------------------------

$pink: #ec4848;
$gray: #3f444a;
$light-gray: #afafaf;
$gray-text: #5c6873;
$white-slider: #e2e2e3;
$footer-dark-brown: #312b2b;
$footer-black: #151515;
$footer-line: #534a4a;


