@import "variables";
@import "mixins";

html {
	position: relative;
	min-height: 100%;
}

body {
	width: 100%;
	height: auto;
	min-height: 100%;
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100%;
	margin-bottom: 400px;
}

* {
	box-sizing: border-box;
}

@import "partials/main-header";
@import "partials/about";
@import "partials/service";
@import "partials/join";
@import "partials/offer";
@import "partials/customer";
@import "partials/counter";
@import "partials/meet";
@import "partials/work";
@import "partials/clint";
@import "partials/main-footer";



