/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	.choose_tour .card {
		width: 530px;
		height: 410px;
	}
}
@media only screen and (max-width : 1500px) {
	.choose_tour .card {
		width: 490px;
		height: 370px;
	}
}
@media only screen and (max-width : 1400px) {
	.choose_tour .card {
		width: 430px;
		height: 310px;
	}
}
@media only screen and (max-width : 1366px) {
	.choose_tour .card {
		width: 450px;
		height: 330px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top_header .fc {
		margin-left: 100px;
	}
	.head_footer {
		top: 440px;
	}
	.find_tour .find_tour-row,
	.find_tour-row .city_name,
	.find_tour .img-responsive {
		width: 200px;
		height: 200px;
		overflow: hidden;
		line-height: 200px;
	}
	.choose_tour .card {
		width: 580px;
	}
	.news .news_hidden-first {
		display: none;
	}
	.main_footer .footer_first-hidden {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1002px) {
	.top_header .fc {
		margin-left: 100px;
	}
	.choose_tour .card {
		width: 580px;
	}
}

@media only screen and (max-width : 992px) {
	.top_header .fc {
		margin-left: 100px;
	}
	.top_header .mail,
	.top_header .time {
		display: none;
	}
	.logo .logo_text {
		display: none;
	}
	.find_tour .find_tour-row,
	.find_tour-row .city_name,
	.find_tour .img-responsive {
		width: 180px;
		height: 180px;
		overflow: hidden;
		line-height: 180px;
		font-size: 19px;
	}
	.deal_hidden-block {
		display: none;
	}
	.deal .card {
		margin: 110px auto;
	}
	.choose_tour .card {
		margin: 0 auto;
	}
	.news .card {
		margin: 70px auto;
	}
	.find_tour .find_tour-row {
		margin: 0 auto;
	}
	.main_footer .footer_second-hidden {
		display: none;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_header .fc {
		margin-left: 50px;
	}
	.logo .logo_text {
		display: none;
	}
	.deal_hidden-block {
		display: none;
	}
	.news .news_hidden-second {
		display: none;
	}
}

@media only screen and (max-width : 680px) {
	.top_header .fc {
		margin-left: 0px;
	}
	.top_header .navbar {
		margin-left: 0px;
	}
	.head_footer {
		top: 455px;
	}
}

@media only screen and (max-width : 660px) {
	.head_footer {
		top: 440px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
	.head_footer {
		top: 405px;
	}
}

@media only screen and (max-width : 435px) {
  body { width: 140.5%; }
  .top_header .fc {
  	margin-left: 30%;
  }
  .top_header .search {
  	left: 30px;
  }
  .header_sect h2 {
  	text-align: center;
  }
  .deal .card .btn-primary {
		margin: 5px 23%;
	}
	.choose_tour .card-block .btn {
		left: 40%;
	}
	.footer_support {
		float: left;
	}
	.footer_second-hidden {
    display: block !important;
    position: absolute;
    bottom: 228px;
    right: 40px;
    float: right;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {
	.head_top {
		height: 140px;
	}
	.top_header .phone_number {
		padding-left: 30px;
		margin-right: 0;
		margin-left: -25px;
	}
	.top_header .tw,
	.top_header .inst,
	.top_header .yt,
	.top_header .vb,
	.top_header .search {
		margin-left: 15px;
	}
	.top_header .search {
		left: 33px;
		position: relative;
	}
	.top_header .search .btn_search-form {
		margin-left: 0;
	}
	.top_header .modal-content {
		width: 100%; 
		height: 500px;
		margin: 100px 0;
	}
	.top_header .modal .modal_head {
		margin-top: 15px;
		text-align: center;
		color: #606060;
		font-weight: bold;
		font-size: 32px; 
	}
	.logo .img_logo {
		position: absolute;
		top: 13px;
		left: 0;
	}
	.navbar {
		left: 60px;
	}
	.navbar .nav-pills li:nth-child(4) {
		margin-left: -18px;
	}
	.header_sect {
		margin-top: 60px;
	}
	.header_sect h2 {
		text-align: center;
	}
	.header_sect p {
		margin-left: 0;
		text-align: center;
	}
	.head_footer {
		min-height: 200px;
		margin-top: 255px;
	}
	.find_tour h3 {
		width: 100%;
		margin-top: 50px;
		text-align: center;
	}
	.deal .card {
		width: 100%;
	  min-height: 538px;
	}
	.deal .card .cost {
		left: 21.5%;
	}
	.deal .card .btn-primary {
		margin: 5px 16%;
	}
	.choose_tour .card {
		width: 111.5%;
		border-bottom: 1px solid white;
	}
	.choose_tour .card-block .btn {
		left: 33%;
	}
	.banner .head_banner {
		margin-top: 100px;
		font-size: 55px;
	}
	.banner .slog {
		font-size: 20px;
		font-weight: normal;
	}
	.banner .banner_find {
		margin-top: 80px;
	}
	html { overflow-x: hidden; }
  body { overflow-x: hidden; }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}