@import "variables";
@import "mixins";

.customer {
	@include middle_position;
	position: relative;
	height: 560px;
	overflow: hidden;
}

.customer:after {
	@include line;
	margin-top: 50px;
}

.customer__caption {
	@include roboto;
	margin-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	color: $gray;
	font-size: 2.5rem;  // 40px / 16  
}

.cutomer__reviews {
	height: 100%;
	margin-bottom: 20px;
}

.cutomer__reviews_card {
	width: 66.66666666666667%;  // 800px / 1200
	display: table;
	float: left;
	margin: 0 auto;
	margin-bottom: 50px;
}

.customer__reviews_card-wrap {
	display: table-cell;
}

.reviews__card_img-wrap {
	float: left;
	width: 130px;
	height: 130px;
	margin-right: 33px;
	border-radius: 50%;
	overflow: hidden;
}

.reviews__card_img-wrap_2 {
	float: left;
	width: 130px;
	height: 130px;
	margin-right: 33px;
	border-radius: 50%;
	overflow: hidden;
	background: url('../images/castumer_2.png');
	background-position: 80% 20%;
	background-repeat: no-repeat;
}

.cutomer__reviews_card-caption {
	@include roboto;
	margin-bottom: 0;
	text-transform: uppercase;
	color: $gray;
  font-size: 1.5625rem;  // 25px / 16
}

.cutomer__reviews_card-prof {
	@include roboto;
	margin-top: 5px;
	text-transform: uppercase;
	color: $pink;
  font-size: 0.875rem;  // 14px / 16
}

.cutomer__reviews_card-text {
	@include roboto;
	color: $light-gray;
	font-size: 1.125rem; // 18px / 16
}

.cutomer__reviews_wrap-checkboxes {
	position: absolute;
	left: 48%;
	margin-top: 400px;
}

.showing{
	opacity: 1;
	z-index: 2;
}

.cutomer__reviews_wrap-checkbox {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border-radius: 50%;
	background-color: $gray;
}

.cutomer__reviews_checkbox {
	display: none;
}

.cutomer__reviews_wrap-checkbox-active {
	@extend .cutomer__reviews_wrap-checkbox;
	background-color: $pink;
}
