@import "variables";
@import "mixins";

.main-header {
	@include middle_position;
	height: 82px;
}

.main-header__logo {
	float: left;
	width: 54.16666666666667%; // 650 / 1200
	height: 82px;
	line-height: 30px;
}

.logo__link {
	@include link_btn;
}

.logo__title {
	@include ptsans;
	color: $pink;
	font-size: 2.125rem;
}

.header__main-nav {
	float: right;
	width: 45.83333333333333%;  // 550 / 1200
	height: 82px;
	margin-bottom: 0;
}

.main-nav__link_active {
	@include link_btn;
	margin-right: 30px;
	line-height: 80px;
	color: $pink;
	font-size: 0.875rem; // 14px / 16
}

.main-nav__link {
	@include link_btn;
	margin-right: 30px;
	line-height: 80px;
	color: $gray;
	font-size: 0.875rem; // 14px / 16
	transition: all ease-out 0.1s;
}

.main-nav__link:hover {
  color: lighten($pink, 20%);
}

.main-nav__search {
	display: inline-block;
	color: $gray;
	font-size: 25px;
	transition: all ease-out 0.1s;
}

.main-nav__search:hover {
	color: lighten($pink, 20%);
	transform: scale(1.2);
}

.main-slider {
	position: relative;
	width: 100%;
	height: 785px;
	background-image: url('../images/slider.png');
	background-repeat: no-repeat;
	color: #ffffff;
}

// .main-slider_wrap {
// 	width: 100%;
// 	height: 785px;
// 	background: url('/images/slider.png');
// }

.main-slider__inner {
  @include middle_position;
}

.main-sliderr__nextbutton .fa-angle-left, .main-slider__prevbutton .fa-angle-right {
	position: absolute;
	top: 350px;
	width: 60px;
	height: 60px;
	line-height: 55px;
	text-align: center;
	color: #515151;
	border-radius: 50%;
	background-color: rgba(4, 4, 4, 8);
	transition: all ease-out 0.5s;
}

.main-sliderr__nextbutton .fa-angle-left {
	left: 80px;
	padding-right: 5px;
}

.main-slider__prevbutton .fa-angle-right {
	right: 80px;
	padding-left: 5px;
}

.main-sliderr__nextbutton .fa-angle-left:hover, .main-slider__prevbutton .fa-angle-right:hover {
	background-color: #e4e5e5;
	cursor: pointer;
}

.main-slider__items {
	position: relative;
	list-style-type: none;
}

.main-slider__content {
	display: table;
	float: left;
}

.main-slider__conten-wrap {
	display: table-cell;
}

.main-slider__caption-1 {
	@include ptsans;
	position: relative;
	width: 100%;
	height: 100px;
	margin: 40px auto;
	line-height: 390px;
	padding-left: 13%;
	text-transform: uppercase;
	font-size: 5.625rem;  // 90px / 16
	letter-spacing: 15px;
}

.main-slider__caption-2 {
	@extend .main-slider__caption-1;
	padding-left: 0;
	font-size: 4.9375rem;  // 79px / 16
	letter-spacing: 4px;
}

.main-slider__caption-3 {
	@extend .main-slider__caption-1;
	margin-bottom: -80px;
	padding-left: 0;
	font-size: 4.6875rem;  // 75px / 16
	font-weight: normal;
	letter-spacing: 1px;
}

.main-slider__text-1 {
	@include ptsans;
	position: relative;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	padding-right: 30%;
	line-height: 270px;
	text-align: center;
	text-transform: uppercase;
  font-size: 0.875rem;  // 14 / 16
  letter-spacing: 6px;
}

.main-slider__text-2 {
	@extend .main-slider__text-1;
	line-height: 500px;
	font-size: 1.5rem;  // 24px / 16
	letter-spacing: 4px;
}

.main-slider__link {
	@include link_btn;
	@include roboto;
	display: block;
	position: absolute;
	top: 465px;
	left: 45%;
	width: 150px;
	height: 50px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
	background-color: $pink;
	color: #ffffff;
	font-size: 1rem; // 16px / 16
	transition: all ease-out 0.2s;
}

.main-slider__link:hover {
	border-radius: 4px;
}